@model List<DBExample.Models.Course>

<p> use this area to provide additional information</p>

@foreach (var item in Model)
{
    <b> @item.Name<br /></b>
    @item.EndDate<br />

    @*@:Kursen hålls av @item.Teacher.Name<br/>*@

    foreach (var student in item.Students)

    {

        @student.Name @:Email @student.Email<br />


    }
    <hr />
}

<form method="post">

    <input type="text" id="Namn" name="Name" />
    <input type="text" id="E-mail" name="Email" />
    <input type="submit" valud="Lägg till" />

</form>